{:source-paths ["src"]
 :dependencies [[funcool/cuerdas "2.2.1"]
                [com.taoensso/tufte "2.4.0"]]
 :builds {:profile {:target :node-script
                    :main app.profile-runner/main
                    :output-to "out/profile.js"}}}
